USE [SmartTaskFlow]
GO
/****** Object:  Trigger [dbo].[trg_tarea_cambio_estado]    Script Date: 2/12/2025 16:14:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_tarea_cambio_estado]
ON [dbo].[Tareas]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Solo notificar si el estado cambió
    IF UPDATE(id_estado)
    BEGIN
        INSERT INTO dbo.Notificasiones (id_usuario, id_tareas, mensaje, fecha)
        SELECT 
            i.id_usuario,
            i.id_tareas,
            CONCAT('Estado actualizado: ahora está en "', e.nombre_estado, '".'),
            SYSDATETIME()
        FROM inserted i
        JOIN deleted d ON i.id_tareas = d.id_tareas
        JOIN Estados e ON i.id_estado = e.id_estado
        WHERE i.id_estado <> d.id_estado;   -- VERIFICAR CAMBIO REAL
    END
END;
