USE [SmartTaskFlow]
GO
/****** Object:  Trigger [dbo].[trg_tarea_eliminada]    Script Date: 2/12/2025 16:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_tarea_eliminada]
ON [dbo].[Tareas]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Notificasiones (id_usuario, id_tareas, mensaje, fecha)
    SELECT
        d.id_usuario,
        d.id_tareas,
        CONCAT('La tarea "', d.nombre, '" ha sido eliminada.'),
        SYSDATETIME()
    FROM deleted d;
END;
